statemachines/contact-parallel-query.asl.json
{
  "Comment": "Step Function to run Salesforce contact match strategies in parallel with pre-built SOQL queries",
  "StartAt": "ParallelMatches",
  "States": {
    "ParallelMatches": {
      "Type": "Map",
      "ItemsPath": "$.matches",
      "Parameters": {
        "strategy.$": "$$.Map.Item.Value.strategy",
        "soql.$": "$$.Map.Item.Value.soql"
      },
      "Iterator": {
        "StartAt": "InvokeSfQuery",
        "States": {
          "InvokeSfQuery": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-west-2:982081057374:function:sf-query-sandbox",
            "Parameters": {
              "query.$": "$.soql"
            },
            "ResultPath": "$.response",
            "Next": "AddConfidenceAndMeta"
          },
          "AddConfidenceAndMeta": {
            "Type": "Pass",
            "Parameters": {
              "source.$": "$.strategy",
              "confidence": 0.85,
              "durationMs": 150,
              "results.$": "$.response"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.matchResults",
      "Next": "SortAndReturn"
    },
    "SortAndReturn": {
      "Type": "Pass",
      "Parameters": {
        "matches.$": "$.matchResults"
      },
      "End": true
    }
  }
}
